Package: com.yourcompany.liquidsiri
Name: LiquidSiri
Depends: mobilesubstrate
Version: 1.1.1
Architecture: iphoneos-arm64
Description: Make your dumb siri look smart! Compatible with iOS 14.0 - 16.x.
Maintainer: Thijs mussig
Author: Thijs mussig
Section: Tweaks
